<%= link_to 'Show', @business, class:'waves-effect waves-light teal btn' %>
<%= link_to 'Back', businesses_path, class:'waves-effect waves-light teal btn' %>

<h1>Editing Business</h1>

<%= render 'form', business: @business %>
