<md-dialog>
    <md-toolbar style="background-color: #FFC107 !important;">
<div class="md-toolbar-tools">
    <h2>Otorgar Klopps</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
        <ng-md-icon icon="cancel"></ng-md-icon>
    </md-button>
</div>
</md-toolbar>
<md-content class="md-padding">
    <form name="userForm">
        <div layout="row" layout-sm="column">
            <div flex>
                <label>Usuario:</label> {{ user.user.username }}
            </div>
            <div flex>
                <label>Fecha y Hora:</label> {{ user.costumer_request.created_at | date:'short' }}
            </div>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex> <label>Monto de factura</label>
                <input ng-model="klopp.total" /> </md-input-container>
            <md-input-container flex> <label># Factura</label>
                <input ng-model="klopp.invoice" /> </md-input-container>
        </div>
    </form>
</md-content>
<div class="md-actions" layout="row"> <span flex></span>
    <md-button ng-click="answer(klopp,'reject')" class="md-accent">Rechazar</md-button>
    <md-button class="md-warn" ng-click="cancel()"> Cancelar </md-button>
    <md-button ng-click="answer(klopp,'accept')" class="md-accent">Ok</md-button>
</div>
</md-dialog>
